@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  /*cores de fundos:*/
    --c-1: #161e27;
    --c-2: #a3a3a3;
    --c-3: #1b2c3f;
    --C-4: #D9D9D9;
    --c-5: #b65433;

  /*cores de letras: */
    --c-a: #fff;
    --c-b: ;

  /* fontes de letras: */
    --font-1: 'Inria Sans', sans-serif;

}

*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--c-3);
}

/* cabeçalho ----------------------------------------- */
.cabecalho {
  background-color: var(--c-1);
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--c-a);
  gap: 0rem;
}

/*logo*/
.cabecalho_logo {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-family: var(--font-1);
  flex-direction: column;
}

.logo_nome {
  border: 4px solid var(--c-a);
  border-radius: 12px;
  padding: 0 1rem 1.6rem 1rem;
  font-size: 90px;
  font-weight: 900;
}

.logo_sub {
  margin-top: -50px;
  display: flex;
  font-size: 19.2px;
  font-weight: 500;
  text-align: center;
}

/*menu*/
.cabecalho_menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap:2rem;
  
}

.cabecalho_menu_img {
  margin-right: 2rem;
  width: 900px;
}

.menu {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  gap: 30px;
}

.menu_1 {
  display: flex;
  width: 200px;
  height: 18px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid var(--c-a);
  transition-duration: 1s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.menu_1:hover {
  display: flex;
  background-color: rgba(183, 183, 183, 0.3);
  width: 200px;
  height: 18px;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid rgba(183, 183, 183, 0);
  transition-duration: 0.7s;
}

.tracos_menu {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--c-a);
  border-radius: 6px;
  transition-duration: 0.7s;
}

.tracos_menu:hover {
  background-color: rgba(183, 183, 183, 0.3);
  border: 2px solid rgba(183, 183, 183, 0);
  transition-duration: 0.7s;
}

.traco_menu_img {
  height: auto;
  width: 40px;
}



/* Seção 1 ----------------------------------------------*/

.secao_1 {
  display: flex;
  margin: 3rem 4rem;
  font-family: var(--font-1);
  flex-direction: row;
  align-items: center;
}

.secao_1_textos {
  padding: 40px;
  background-color: var(--C-4);
  border-radius:20px;
  width: 68rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.secao_1_titulo {
  margin-bottom: 20px;
  width: 50rem;
  font-weight: 900;
}

.secao_1_texto_cima {
  width: 50rem;
}

.secao_1_subtextos {
  width: 60rem;
  text-align: justify;
  font-size: 18px;
}

.secao_1_sub1 {
  margin-bottom: 1rem;
}

.secao_1_sub2 {
  text-indent: 40px;
  margin-bottom: 10px;
}

.secao_1_sub3 {
  text-indent: 40px;
  margin-bottom:10px;
}

.secao_1_sub3 {
  text-indent: 40px;
}

.secao_1_img {
  height: 300px;
  width: 300px;
  margin-left: -9.2rem;
}



/* Seção 2 ----------------------------------------------- */

.secao_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secao_2_quadro {
  margin: 3rem 6rem 3rem 3rem;
  background-color: var(--c-5);
  border-radius: 20px;
}

.secao_2_textos {
  margin: 4rem 6rem 4rem 6rem;
  font-family: var(--font-1);
  font-size: 20px;
  color: var(--c-a);
}

.secao_2_titulo {
  margin-left: -2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.secao_2_texto {
  text-align: justify;
}

.secao_2_sub1 {
  text-indent: 40px;
  margin-bottom: 20px;
}

.secao_2_sub2 {
  text-indent: 40px;
  margin-bottom: 20px;
}

.secao_2_sub3 {
  text-indent: 40px;
  margin-bottom: 20px;
}

a {
  color: var(--c-a);
}

.secao_2_img {
  margin-left: -10rem;
  width: 500px;
  position: relative; /*permite trazer o elemento pra frente*/
  z-index: 1; /*permite trazer o elemento pra frente*/
}




/* Seção 3 -------------------------------------------*/
.secao_3_caixas {
  display: flex;
  max-width: 1900px;
  gap: 0;
}

.secao_3_opcoes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.opcao {
  width: 500px;
  padding: 1rem;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 8px 0px 0px 8px;
  transition: background-color 0.3s;
}

.opcao:hover {
  background-color: #ccc;
  border-radius: 8px 0px 0px 8px;
}

.opcao.active {
  background-color: #aaa;
  font-weight: bold;
  color: white;
  border-radius: 8px 0px 0px 8px;
}

.secao_3_opcoes_texto {
  flex: 1;
  padding: 2rem;
  background-color: #aaa;
  color: #fff;
  border-radius: 0px 8px 8px 0px;
}